doctype html

html
  head
    title SHREYA DANCE ACADEMY
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/pic8.png")
                | SDA
            li #[a(href="/") HOME]
            li #[a(href="/") ABOUT]
            li #[a(href="/") SERVICES]
            li #[a(href="/") CLASS INFO]
            li #[a(href="/contact") CONTACT US]

    block content
    footer#footer
       | Copyright 2020 ShreyaDanceAcacdemy.com
